<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Starting year:</strong>
  <%= @company.starting_year %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Employees List:</strong> <br>
  <% @company.employees.each do |employee| %>
    <br>
    Employee name: <%= employee.name %> 
    <br>
    Employee age: <%= employee.age %> 
    <br>
    Employee doj: <%= employee.doj %> 
    <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
